:javascript
  $(document).ready(function () {

    $('#radioBtn a').on('click', function () {
      var sel = $(this).data('title');
      var tog = $(this).data('toggle');
      //$('#' + tog).prop('value', sel);

      $('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
      $('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
    });

    $('.panel-heading span.clickable').click();
    $('.panel div.clickable').click();
    $('div[data-toggle="collapse"]')[0].click();
  });

.container-fluid
  .btn-group.pull-right#radioBtn
    %a#cd-radio-1.btn.btn-primary.btn-sm.active{"data-toggle"=>"fun", "data-title"=>"Y", :onclick=>"filter_all()"} All
    %a#cd-radio-2.btn.btn-primary.btn-sm.notActive{"data-toggle"=>"fun", "data-title"=>"X", :onclick=>"filter_batch()"} Batch
    %a#cd-radio-3.btn.btn-primary.btn-sm.notActive{"data-toggle"=>"fun", "data-title"=>"N", :onclick=>"filter_single()"} Single
  %br
  .container-fluid
    .panel-body
      #no-more-tables
        %table.table.table-striped.table-fixed{:cellspacing=>'0', :width=>"100%"}
          %thead
            %tr
              %th Name
              %th gender
              %th position
              %th birthday
              %th birthday_place
              %th passport
    .panel-body
      - @batches.each do |batches|
        - if batches.length == 1
          = render 'show_single', batches: batches
        - else
          = render 'show_batches', batches: batches
